In [1]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
import os
os.environ["PYSPARK_PYTHON"]="/Users/lonng/opt/anaconda3/python.app/Contents/MacOS/python"

In [2]:

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

sc = spark.sparkContext


l = [('Alice', 1)]
rdd = sc.parallelize(l)
df_rdd2 = spark.createDataFrame(rdd,['name', 'age'])

In [ ]:
spark.read.

In [4]:
df_rdd2.show()

+-----+---+
| name|age|
+-----+---+
|Alice|  1|
+-----+---+

In [3]:
df_rdd2.printSchema

In [4]:
customers =  [(1,'James',21,'M'), (2, "Liz",25,"F"), (3, "John", 31, "M"),\
     (4, "Jennifer", 45, "F"), (5, "Robert", 41, "M"), (6, "Sandra", 45, "F")]
df_customers = spark.createDataFrame(customers, ["cID", "name", "age", "gender"]) # list -> DF
df_customers.show()

+---+--------+---+------+
|cID|    name|age|gender|
+---+--------+---+------+
|  1|   James| 21|     M|
|  2|     Liz| 25|     F|
|  3|    John| 31|     M|
|  4|Jennifer| 45|     F|
|  5|  Robert| 41|     M|
|  6|  Sandra| 45|     F|
+---+--------+---+------+

In [5]:
products = [(1, "iPhone", 600, 400), (2, "Galaxy", 500, 400), (3, "iPad", 400, 300),\
            (4, "Kindel",200,100), (5, "MacBook", 1200, 900), (6, "Dell",500, 400)]
df_products = sc.parallelize(products).toDF(["pId", "name", "price", "cost"]) # List-> RDD ->DF
df_products.show()

+---+-------+-----+----+
|pId|   name|price|cost|
+---+-------+-----+----+
|  1| iPhone|  600| 400|
|  2| Galaxy|  500| 400|
|  3|   iPad|  400| 300|
|  4| Kindel|  200| 100|
|  5|MacBook| 1200| 900|
|  6|   Dell|  500| 400|
+---+-------+-----+----+

In [6]:
sales = [("01/01/2015", "iPhone", "USA", 40000), ("01/02/2015", "iPhone", "USA", 30000),\
        ("01/02/2015", "iPhone", "China", 10000), ("01/02/2015", "iPhone", "China", 5000),\
        ("01/01/2015", "S6", "USA", 20000), ("01/02/2015", "S6", "USA", 10000),\
        ("01/01/2015", "S6", "China", 9000), ("01/02/2015", "S6", "China", 6000)]
df_sales = spark.createDataFrame(sales, ["date", "product", "country", "revenue"])
df_sales.show()

+----------+-------+-------+-------+
|      date|product|country|revenue|
+----------+-------+-------+-------+
|01/01/2015| iPhone|    USA|  40000|
|01/02/2015| iPhone|    USA|  30000|
|01/02/2015| iPhone|  China|  10000|
|01/02/2015| iPhone|  China|   5000|
|01/01/2015|     S6|    USA|  20000|
|01/02/2015|     S6|    USA|  10000|
|01/01/2015|     S6|  China|   9000|
|01/02/2015|     S6|  China|   6000|
+----------+-------+-------+-------+

In [7]:
df_customers.columns # 查看列名

['cID', 'name', 'age', 'gender']

In [9]:
df_customers.show(3) #

+---+-----+---+------+
|cID| name|age|gender|
+---+-----+---+------+
|  1|James| 21|     M|
|  2|  Liz| 25|     F|
|  3| John| 31|     M|
+---+-----+---+------+
only showing top 3 rows

In [10]:
df_customers.collect()

[Row(cID=1, name='James', age=21, gender='M'),
 Row(cID=2, name='Liz', age=25, gender='F'),
 Row(cID=3, name='John', age=31, gender='M'),
 Row(cID=4, name='Jennifer', age=45, gender='F'),
 Row(cID=5, name='Robert', age=41, gender='M'),
 Row(cID=6, name='Sandra', age=45, gender='F')]

In [11]:
df_customers.describe()

DataFrame[summary: string, cID: string, name: string, age: string, gender: string]

In [12]:
df_customers.corr('cID', "age")

0.9298147235977955

In [13]:
df_customers[['age','gender']].show()

+---+------+
|age|gender|
+---+------+
| 21|     M|
| 25|     F|
| 31|     M|
| 45|     F|
| 41|     M|
| 45|     F|
+---+------+

In [ ]:
#
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession
import os
os.environ["PYSPARK_PYTHON"]="/Users/lonng/opt/anaconda3/python.app/Contents/MacOS/python"

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [54]:
print(spark.read.text('/Users/lonng/test1.txt',lineSep=" ").show())
# print(spark.read.csv('/Users/lonng/城市代码.csv').show())
doc = spark.read.format('csv').option('header','true').option('encoding','gbk').load('/Users/lonng/城市代码.csv')
print(doc.show())
print(doc.printSchema())

+----------+
|     value|
+----------+
|      name|
|       age|
|   sex
aki|
|        25|
|   male
kk|
|        27|
|female
daw|
|        23|
|    female|
+----------+

None
+----------------+-------+------------+---------+
|            city|city_id|      region|region_id|
+----------------+-------+------------+---------+
|    北京市朝阳区| 110105|      北京市|   110000|
|    河北省保定市| 130600|      河北省|   130000|
|    山西省晋城市| 140500|      山西省|   140000|
|    山西省忻州市| 140900|      山西省|   140000|
|    内蒙古包头市| 150200|内蒙古自治区|   150000|
|    内蒙古乌海市| 150300|内蒙古自治区|   150000|
|内蒙古鄂尔多斯市| 150600|内蒙古自治区|   150000|
|内蒙古乌兰察布市| 150900|内蒙古自治区|   150000|
|内蒙古锡林郭勒盟| 152500|内蒙古自治区|   150000|
|    辽宁省鞍山市| 210300|      辽宁省|   210000|
|    辽宁省丹东市| 210600|      辽宁省|   210000|
|    辽宁省阜新市| 210900|      辽宁省|   210000|
|    辽宁省辽阳市| 211000|      辽宁省|   210000|
|    辽宁省盘锦市| 211100|      辽宁省|   210000|
|    上海市闵行区| 310112|      上海市|   310000|
|    江苏省南京市| 320100|      江苏省|   320000|
|    江苏省徐州市| 320300|      江苏省|   320000|
|    江苏省常州市| 320400|      江苏省|   320000|
|    江苏省苏州市| 320500|      江苏省|   320000|
|    江苏省南通市| 320600|      江苏省|   320000|
+----------------+-------+------------+---------+
only showing top 20 rows

None
root
 |-- city: string (nullable = true)
 |-- city_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- region_id: string (nullable = true)

None

In [55]:
print(doc.filter(doc.city_id=="150200").show())

# print(doc.filter("SUBSTR(city_id)='1'").show())

+------------+-------+------------+---------+
|        city|city_id|      region|region_id|
+------------+-------+------------+---------+
|内蒙古包头市| 150200|内蒙古自治区|   150000|
+------------+-------+------------+---------+

None

In [56]:
doc.createOrReplaceTempView("sql1")
print("====*20")
print(spark.sql('select * from sql1 where region_id = 110000').show())
#
# sc = spark.sparkContext
# #
# doc2 = sc.textFile("/Users/lonng/test1.txt")
# doc2 = spark.createDataFrame(doc2)
# print(doc2.show())
#
# l = [('Alice', 1)]
# rdd = sc.parallelize(l)
# df_rdd2 = spark.createDataFrame(rdd,['name', 'age'])
# print(df_rdd2.show())

====*20
+------------+-------+------+---------+
|        city|city_id|region|region_id|
+------------+-------+------+---------+
|北京市朝阳区| 110105|北京市|   110000|
+------------+-------+------+---------+

None

排序

In [25]:
doc.sort(doc.city_id.desc()).show()

+--------------------------+-------+--------------+---------+
|                      city|city_id|        region|region_id|
+--------------------------+-------+--------------+---------+
|                宁夏固原市| 640400|宁夏回族自治区|   640000|
|              甘肃省庆阳市| 621000|        甘肃省|   620000|
|              甘肃省张掖市| 620700|        甘肃省|   620000|
|              甘肃省武威市| 620600|        甘肃省|   620000|
|              陕西省商洛市| 611000|        陕西省|   610000|
|              陕西省榆林市| 610800|        陕西省|   610000|
|              陕西省延安市| 610600|        陕西省|   610000|
|              陕西省咸阳市| 610400|        陕西省|   610000|
|云南省德宏傣族景颇族自治州| 533100|        云南省|   530000|
|      云南省大理白族自治州| 532900|        云南省|   530000|
|  云南省文山壮族苗族自治州| 532600|        云南省|   530000|
|              云南省楚雄市| 532301|        云南省|   530000|
|              云南省临沧市| 530900|        云南省|   530000|
|云南省普洱哈尼族彝族自治县| 530821|        云南省|   530000|
|              云南省丽江市| 530700|        云南省|   530000|
|              云南省昭通市| 530600|        云南省|   530000|
|              云南省保山市| 530500|        云南省|   530000|
|              云南省玉溪市| 530400|        云南省|   530000|
|              云南省曲靖市| 530300|        云南省|   530000|
|              四川省资阳市| 512000|        四川省|   510000|
+--------------------------+-------+--------------+---------+
only showing top 20 rows

In [26]:
print(doc.sort("city_id",ascending=False).show())

+--------------------------+-------+--------------+---------+
|                      city|city_id|        region|region_id|
+--------------------------+-------+--------------+---------+
|                宁夏固原市| 640400|宁夏回族自治区|   640000|
|              甘肃省庆阳市| 621000|        甘肃省|   620000|
|              甘肃省张掖市| 620700|        甘肃省|   620000|
|              甘肃省武威市| 620600|        甘肃省|   620000|
|              陕西省商洛市| 611000|        陕西省|   610000|
|              陕西省榆林市| 610800|        陕西省|   610000|
|              陕西省延安市| 610600|        陕西省|   610000|
|              陕西省咸阳市| 610400|        陕西省|   610000|
|云南省德宏傣族景颇族自治州| 533100|        云南省|   530000|
|      云南省大理白族自治州| 532900|        云南省|   530000|
|  云南省文山壮族苗族自治州| 532600|        云南省|   530000|
|              云南省楚雄市| 532301|        云南省|   530000|
|              云南省临沧市| 530900|        云南省|   530000|
|云南省普洱哈尼族彝族自治县| 530821|        云南省|   530000|
|              云南省丽江市| 530700|        云南省|   530000|
|              云南省昭通市| 530600|        云南省|   530000|
|              云南省保山市| 530500|        云南省|   530000|
|              云南省玉溪市| 530400|        云南省|   530000|
|              云南省曲靖市| 530300|        云南省|   530000|
|              四川省资阳市| 512000|        四川省|   510000|
+--------------------------+-------+--------------+---------+
only showing top 20 rows

None

字符串匹配

In [23]:
print(doc.filter("city_id like '110%'").show())

+------------+-------+------+---------+
|        city|city_id|region|region_id|
+------------+-------+------+---------+
|北京市朝阳区| 110105|北京市|   110000|
+------------+-------+------+---------+

None

# 分组

In [40]:
aa=doc.groupBy("region").count()

In [42]:
aa.show()

+--------------+-----+
|        region|count|
+--------------+-----+
|        北京市|    1|
|        辽宁省|    5|
|        浙江省|   11|
|        重庆市|    1|
|        河北省|    1|
|        福建省|    5|
|        湖南省|    2|
|宁夏回族自治区|    1|
|        陕西省|    4|
|        山西省|    2|
|  内蒙古自治区|    5|
|        甘肃省|    3|
|        四川省|    7|
|        广东省|   11|
|        山东省|    9|
|        河南省|    1|
|        上海市|    1|
|        江西省|   13|
|        安徽省|   14|
|        江苏省|   12|
+--------------+-----+
only showing top 20 rows

In [45]:
bb=doc.groupBy("region").agg({"city_id":"count"})

In [46]:
bb.show()

+--------------+--------------+
|        region|count(city_id)|
+--------------+--------------+
|        北京市|             1|
|        辽宁省|             5|
|        浙江省|            11|
|        重庆市|             1|
|        河北省|             1|
|        福建省|             5|
|        湖南省|             2|
|宁夏回族自治区|             1|
|        陕西省|             4|
|        山西省|             2|
|  内蒙古自治区|             5|
|        甘肃省|             3|
|        四川省|             7|
|        广东省|            11|
|        山东省|             9|
|        河南省|             1|
|        上海市|             1|
|        江西省|            13|
|        安徽省|            14|
|        江苏省|            12|
+--------------+--------------+
only showing top 20 rows